@import '../abstracts/variables';

* {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    margin: 0;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    &:hover, &:focus {
        text-decoration: none;
    }
}

button {
    outline: none;
    border: none;
}
