@font-face {
  font-family: 'Murs Gothic';
  src: url('../fonts/MursGothic-KeyRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Murs Gothic';
  src: url('../fonts/MursGothic-KeyMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Trim';
  src: url('../fonts/Trim-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
