:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-dark-gray: #161616;
    --color-dark-text: rgb(22, 22, 22);
    --color-light-text:rgb(107, 114, 128);
    --color-light-gray: rgb(209, 213, 219);
    --color-blue: rgb(10, 88, 202);
    --color-lighter-gray: rgb(230, 233, 234);
    --color-semi-transparent-black: rgba(0, 0, 0, 0.5);
}
